@font-face {
  font-family: 'icons-turn-arrow';
  src: url('../fonts/icons/turn-arrow.eot') format('enbedded'),
   url('../fonts/icons/turn-arrow.woff') format('woff'),
    url('../fonts/icons/turn-arrow.ttf') format('truetype'),
     url('../fonts/icons/turn-arrow.svg') format('svg');
}


html,
body {
  width: 100%;
  height: 100%;
  background: #222;
}

#app {
  width: 100%;
  height: 100%;
}

.stage {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-sec {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  /* 
   * 添加景深，增强3D效果。
   * 当为元素设置perspective，子元素会获得透视效果，而不是元素本身
   */
  perspective: 1800px;
}

.img-figure {
  position: absolute;
  background-color: #fff;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, top 0.6s ease-in-out;
  /* transform、left、top分别应用过渡效果，0.4秒完成，慢速开始和结束 */
}

.img-figure.is-inverse {
  transform: translateX(100%) rotateY(180deg);
}

.img-figure img {
  width: 240px;
  height: 240px;
  backface-visibility: hidden;
}

figcaption {
  text-align: center;
}
figcaption .img-title {
  margin: 20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px;
}
figcaption .img-back {
  position: absolute;
  text-align: left;
  text-indent: 1.2em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px 30px;
  line-height: 25px;
  font-size: 18px;
  color: #666;
  transform: rotateY(180deg) translateZ(1px);
}

.controller-nav {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
.controller-nav .controller-unit {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  background-color: #aaa;
  border-radius: 50%;
  transform: scale(.5);
  transition: transform 0.6s ease-in-out, background-color 0.3s;
}
/*字体文件代替图片文件，矢量图形，支持css3*/
.controller-unit.is-center {
  transform: scale(1);
  background-color: #888;
}

.controller-unit.is-center::after {
  color: #fff;
  font-family: "icons-turn-arrow";
  font-size: 15px;
  content: "\e600";
  line-height: 30px;
  -webkit-font-smoothing: antialiased;
  /* 开启chrome在Mac下字体渲染的灰阶平滑 */
  -moz-osx-font-smoothing: grayscale;
  /* 开启firefox在Mac下字体渲染的灰阶平滑 */
}

.controller-unit.is-center.is-inverse {
  background-color: #555;
  transform: rotateY(180deg);
  /* 翻转180度 */
}
